<!-- TODO: add 'links from past month/year' -->

<div id="sponsored"></div>
<div id="posts"></div>
<div class="view-more">
  view more:
  <!-- TODO: fix next button -->
  <a href="#"><div class="next">next ›</div></a>
  or try a
  <a href="/r/random">
    <div class="random-subreddit">random subreddit</div>
  </a>
</div>
