<!-- TODO: add 'links from past month/year' -->

<% if @time_sort %>
  <div class="time-sort">
    links from: <span class="times">past 24 hours</span>
    <span style="color: gray;">▼</span>

    <ul class="time-options">
      <li class="option">
        <a href="#">past hour</a></li>
      <li class="option">
        <a href="#">past week</a></li>
      <li class="option">
        <a href="#">past month</a></li>
      <li class="option">
        <a href="#">past year</a></li>
      <li class="option">
        <a href="#">all time</a></li>
    </ul>
  </div>

  <div class="time-sort-border"></div>
<% end %>

<div id="sponsored"></div>
<div id="posts"></div>
<div class="view-more">
  view more:
  <!-- TODO: fix next button -->
  <a href="#"><div class="next">next ›</div></a>
  or try a
  <a href="/r/random">
    <div class="random-subreddit">random subreddit</div>
  </a>
</div>
