<div class="posts">
  <!-- <% @posts.each do |post| %>
    <div class="posts-index-item">
      <img src="<%= post.picture_url %>">
      <div class="link"><%= post.title %></div>
    </div>
  <% end %> -->
</div>
