<% if @show_time_sort %>
  <%= render 'layouts/time_sort' %>
<% end %>

<div id="sponsored-outer">
  <div id="sponsored"></div>

  <!-- Problems with overflow-y and overflow-x -->
  <div class="whats-this-description">
    This area shows new and upcoming links.
    Vote on links here to help them become popular,
    and click the forwards and backwards buttons to view more.
  </div>
</div>
<div id="posts"></div>
