.posts-index-item {
  margin-top: 10px;
  font-size: medium;

  .rank {
    float: left;
    margin-top: 14px;
    margin-left: 16px;
    font-family: arial;
    text-align: right;
    color: #c6c6c6;
  }

  .votes {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: small;
    color: #c6c6c6;
    text-align: center;

    img.arrow {
      display: block;
      margin: auto;

      &:hover {
        cursor: pointer;
      }
    }

    img.up-child {
      margin-top: 2px;
    }

    img.down-child {
      margin-top: 1px;
      margin-bottom: 1px;
    }
  }

  .picture {
    float: left;
    margin-right: 3px;

    img {
      width: 70px;
      height: auto;
    }

    .nsfw-thumbnail {
      margin-right: 3px;
      width: 70px;
      height: 70px;
      background-image: url('https://www.reddit.com/static/sprite-reddit.hV9obzo72Pc.png');
      background-position: 0px -361px;
    }
  }

  .post-content {
    overflow: hidden;
  }

  a.post-title {
    margin-right: 8px;
    color: blue;

    &:hover {
      color: blue;
      text-decoration: none;
    }
  }

  .domain a {
    color: #888;
    font-size: x-small;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .embed {
    float: left;
    margin-top: 2px;
    margin-right: 4px;
    width: 25px;
    height: 25px;
    background-image: url(https://www.reddit.com/static/sprite-reddit.hV9obzo72Pc.png);
  }

  .embed.embed-desc {
    background-position: -89px -546px;

    &:hover {
      background-position: -60px -546px;
    }
  }

  .embed.embed-desc.clicked {
    background-image: url(https://www.reddit.com/static/sprite-reddit.hV9obzo72Pc.png);
    background-position: -28px -583px;

    &:hover {
      background-image: url(https://www.reddit.com/static/sprite-reddit.hV9obzo72Pc.png);
      background-position: 1px -583px;
    }
  }

  .embed.embed-video {
    background-position: 34px -583px;

    &:hover {
      background-position: 63px -583px;
    }
  }

  .embed.embed-video.clicked {
    background-position: 92px -612px;

    &:hover {
      background-position: 121px -612px;
    }
  }

  .embed-content.description {
    overflow: hidden;
    margin-top: 10px;
    padding: 5px 10px 0px 10px;
    width: 864px;
    border: 1px solid #369;
    border-radius: 7px;
    background-color: #fafafa;
    font-size: 14px;
    line-height: 19px;
  }

  .embed-content.video {
    margin-top: 10px;
    margin-left: -28px; // aligns left but seems fragile...
  }

  .timeago {
    color: #888;
    font-size: x-small;

    a {
      margin-right: 5px;
      color: #369;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .comments {
    margin-top: 2px;
    color: #888;
    font-weight: bold;
    font-size: x-small;
    line-height: 1.5;

    a {
      color: #888;
    }

    span {
      margin-right: 8px;
    }

    span.nsfw {
      padding: 1px 3px 1px 3px;
      font-weight: normal;
      color: #d10023;
      border: 1px solid #d10023;
      border-radius: 3px;

      &:hover {
        text-decoration: none;
        cursor: default;
      }
    }

    span:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .share-transition {
    height: 0px !important;
    padding-top: 0px !important;
    visibility: hidden;
  }

  .share {
    position: relative;
    visibility: visible;
    height: 130px;
    transition: all 200ms;
    transition-property: height, padding-top;
    margin-top: 3px;
    background-color: #fbfbfb;
    width: 550px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    color: #808080;
    padding-top: 30px;
    padding-left: 50px;
    font-size: 14px;

    .close {
      position: absolute;
      top: 3px;
      right: 5px;
    }

    table {
      text-align: right;

      td {
        padding-right: 10px;
        padding-bottom: 15px;
      }
    }

    img {
      float: left;
      margin-right: 5px;
      width: 26px;
      height: 26px;
    }

    input {
      width: 365px;
    }
  }
}
