//= require ../index/index_item

#comments {
  margin-left: 5px;
}

#post {
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.title {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 16px;
  border-bottom: 1px dotted gray;
  overflow: hidden;
  padding-bottom: 3px;

  a {
    font-size: 12px;
    color: #369;
    &:hover {
      text-decoration: none;
    }
  }
}

.load-more.comments-index-item {
  margin-left: 3px;
}

.comments-index-item {
  margin-top: 10px;
  margin-left: 10px;

  .spacer {
    float: left;
    min-width: 21px;
    height: 10px;
  }

  .votes {
    float: left;
    width: 19px;

    img {
      margin-top: 2px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  span.toggle-comment {
    margin-left: 2px;
    color: #369;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  a.author {
    margin-right: 8px;
    font-weight: bold;
    color: #369;
    &:hover {
      text-decoration: none;
    }
  }

  a.author.gray {
    color: gray;
  }

  a.author.op {
    color: #0055df;
  }

  span.detail {
    font-weight: normal;
    color: #888;
  }

  .comment-content {
    overflow: hidden;
  }

  .body {
    margin-top: 6px;
    width: 840px;
    font-size: 14px;

    a:hover {
      text-decoration: none;
      color: #337ab7;
    }
  }

  a.more {
    font-weight: bold;
    color: #369;
  }

  a.continue {
    font-size: 10px;
    color: #369;
  }

  .continue-thread {
    display: inline-block;
    width: 25px;
    height: 9px;
    background-image: url('https://www.reddit.com/static/sprite-reddit.hV9obzo72Pc.png');
    background-position: -50px 20px;
  }

  a.gray {
    margin-left: 1px;
    font-weight: bold;
    color: #888;
    &:hover {
      text-decoration: underline;
    }
  }

  .replies {
    margin-left: 16px;
    border-left: 1px dotted #DDF;
  }
}
