.flex {
  display: flex;
  height: 90px;
}

#sponsored {
  overflow: hidden;
}

#sidebar {
  margin-top: 7px;
}

#post {
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

#content {
  margin-left: 15px;
}
