#header-top {
  background-color: #F0F0F0;
  padding-left: 5px;
  border-bottom: 1px solid #808080;
  height: 19px;
}

.subreddit-list {
  margin-right: 60px;
  font-size: 12px;
  white-space: nowrap;
  overflow: auto;
}

.subreddit-index-item {
  font-size: 9px;

  a {
    color: black;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .inuse {
    color: red;
    font-weight: bold;
    &:hover {
      color: red;
    }
  }
}

.separator {
  letter-spacing: .05em;
  margin-right: -1px;
  font-size: 9px;
  font-weight: 500;
  color: gray;

  &.pipe {
    margin-left: 3px;
    margin-right: 2px;
  }
}

.my-subreddits {
  margin-right: 15px;
  font-size: 9px;
  padding-right: 1px;

  &:hover {
    cursor: pointer;
  }
}

.more {
  float: right;
  font-weight: bold;
  padding-top: 3px;
  padding-right: 5px;
}

.my-subreddits-dropdown {
  display: none;
  position: absolute;
  z-index: 50;
  left: 5px;
  top: 20px;
  margin-top: -2px;
  min-width: 80px;
  background-color: white;
  border: 1px solid #808080;
  color: #369;

  a {
    color: #369;
    &:hover {
      text-decoration: none;
    }
  }

  .subreddit-index-item {
    padding: 1px 3px 1px 3px;

    &:first-child {
      padding-top: 2px;
    }

    &:hover {
      background-color: #c7def7;
      text-decoration: none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

#header-main {
  position: relative;
  height: 46px;
  background: #cee3f8;
  border-bottom: 1px solid #5f99cf;

  img {
    margin: 2px 2px 2px 0px;
    width: 120px;
    height: 40px;
  }

  ul.tabs {
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: 132px;
    bottom: -1px;
  }

  li.tab {
    float: left;
    height: 19px;
    margin-right: 6px;
    padding-top: 3px;
    padding-right: 6px;
    padding-left: 6px;
    background-color: #eff7ff;
    color: #369;
    font-weight: bold;
    font-size: 12px;
    list-style-type: none;
    line-height: 1.1;
    border-top: 1px solid #cee3f8;
    border-bottom: 1px solid #5f99cf;

    a {
      text-decoration: none;
      color: #369;
    }

    a:hover {
      cursor: pointer;
    }
  }

  li.tab.selected {
    background-color: white;
    border: 1px solid #5f99cf;
    border-bottom: 1px solid white;

    &:hover {
      cursor: pointer;
    }

    a {
      color: red;
    }
  }

  .join-invite {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #EFF7FF;
    color: gray;
    padding: 4px;
    border-top-left-radius: 7px;

    a.login {
      color: #369;
      text-decoration: none;
    }

    a.language {
      font-weight: bold;
      color: #369;
    }

    a:hover {
      cursor: pointer;
    }
  }
}
