#header-top {
  background-color: #F0F0F0;
  padding-left: 5px;
  border-bottom: 1px solid #808080;
  height: 18px;
}

.subreddit-list {
  font-size: 12px;
  display: inline-block;
  width: 95.5%;
  white-space: nowrap;
  overflow: hidden;
}

.subreddit-index-item {
  font-size: 9px;
  padding-left: 1px;
  padding-right: 1px;

  a {
    color: black;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .inuse {
    color: red;
    font-weight: bold;
    &:hover {
      color: red;
    }
  }
}

.my-subreddits {
  margin-right: 20px;
  font-size: 9px;
  padding-left: 1px;
  padding-right: 1px;

  &:hover {
    cursor: pointer;
  }
}

.more {
  float: right;
  font-weight: bold;
  padding-top: 3px;
  padding-right: 4px;
}

.my-subreddits-dropdown {
  display: none;
  position: absolute;
  z-index: 50;
  left: 5px;
  top: 20px;
  margin-top: -2px;
  min-width: 80px;
  background-color: white;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  color: #369;

  .subreddit-index-item {
    padding: 3px;

    &:hover {
      background-color: #c7def7;
      text-decoration: none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

#header-main {
  position: relative;
  height: 47px;
  background: #cee3f8;
  border-bottom: 1px solid #5f99cf;
  margin-bottom: 20px;

  img {
    margin: 2px;
    width: 120px;
    height: 40px;
  }

  ul.tabs {
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: 135px;
    bottom: 0px;
  }

  li.tab {
    float: left;
    height: 18px;
    margin-right: 6px;
    padding-right: 6px;
    padding-left: 6px;
    background-color: #eff7ff;
    color: #369;
    font-weight: bold;
    font-size: 14px;
    list-style-type: none;

    a {
      text-decoration: none;
      color: #369;
    }

    a:hover {
      cursor: pointer;
    }
  }

  .selected {
    background-color: white !important;
    border: 1px solid #5f99cf;
    border-bottom: none;

    a {
      color: red !important;
    }
  }
}
