.time-sort-border { // problems with overflow-y and overflow-x
  height: 2px;
  margin: 1px 0px -2px 10px;
  overflow: auto;
  border-bottom: 1px dotted gray;
}

.posts {
  float: left;
  margin-left: 10px;
}

.posts-index-item {
  margin-top: 10px;
  font-size: medium;

  .rank {
    float: left;
    margin-top: 14px;
    min-width: 26px;
    font-family: arial;
    text-align: right;
    color: #c6c6c6;
  }

  .votes {
    float: left;
    font-weight: bold;
    font-size: small;
    color: #c6c6c6;
    width: 50px;
    text-align: center;

    img.arrow {
      display: block;
      margin: auto;

      &:hover {
        cursor: pointer;
      }
    }

    img.up-child {
      margin-top: 2px;
    }

    img.down-child {
      margin-top: 1px;
      margin-bottom: 1px;
    }
  }

  .picture {
    float: left;

    img {
      width: 70px;
      height: auto;
    }
  }

  a.post-title {
    margin-right: 8px;
    color: blue;

    &:hover {
      color: blue;
      text-decoration: none;
    }
  }

  .domain a {
    color: #888;
    font-size: x-small;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .embed {
    float: left;
    margin-top: 2px;
    margin-right: 4px;
    width: 25px;
    height: 25px;
    background-image: url(https://www.reddit.com/static/sprite-reddit.hV9obzo72Pc.png);
  }

  .embed.embed-desc {
    background-position: -89px -546px;

    &:hover {
      background-position: -60px -546px;
    }
  }

  .embed.embed-desc.clicked {
    background-image: url(https://www.reddit.com/static/sprite-reddit.hV9obzo72Pc.png);
    background-position: -28px -583px;

    &:hover {
      background-image: url(https://www.reddit.com/static/sprite-reddit.hV9obzo72Pc.png);
      background-position: 1px -583px;
    }
  }

  .embed.embed-video {
    background-position: 34px -583px;

    &:hover {
      background-position: 63px -583px;
    }
  }

  .embed.embed-video.clicked {
    background-position: 92px -612px;

    &:hover {
      background-position: 121px -612px;
    }
  }

  .embed-content.description {
    overflow: auto;
    margin-top: 10px;
    padding: 5px 10px 0px 10px;
    width: 864px;
    border: 1px solid #369;
    border-radius: 7px;
    background-color: #fafafa;
    font-size: 14px;
    line-height: 19px;
  }

  .embed-content.video {
    margin-top: 10px;
    margin-left: -28px; // aligns left but seems fragile...
  }

  .timeago {
    color: #888;
    font-size: x-small;

    a {
      margin-right: 5px;
      color: #369;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .comments {
    margin-top: 2px;
    color: #888;
    font-weight: bold;
    font-size: x-small;

    a {
      color: #888;
    }

    span {
      margin-left: 8px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .share-transition {
    height: 2px !important;
    visibility: hidden;
  }

  .share {
    visibility: visible;
    height: 130px;
    transition: height 200ms;
    background-color: #fbfbfb;
    width: 550px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
  }
}

.view-more {
  margin: 8px 5px 8px 5px;
  font-size: larger;
  color: gray;

  .bar {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: -3px;
    margin-right: 1px;
    width: 1px;
    height: 15px;
    background-color: #ccc;
  }

  .next {
    display: inline-block;
    margin-right: 5px;
    padding: 1px 4px 1px 5px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    color: #369;

    &:hover {
      border: 1px solid #82A6C9;
    }
  }

  .prev {
    margin-right: 0px;
    padding-left: 4px;
  }

  .random-subreddit {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 5px;
    padding: 1px 3px 1px 5px;
    color: #369;

    &:hover {
      background: #f0f0f0;
      border: 1px solid #82A6C9;
    }
  }
}

.sponsored {
  position: relative;
  margin-top: 7px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  background: #F8F8F8;
  border: 1px solid gray;
  min-height: 84px;

  .votes {
    margin-left: 20px;
    width: 50px;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: small;
    color: #c6c6c6;

    img.arrow {
      display: block;
      margin: auto;
    }

    img.up {
      margin-top: 2px;
    }

    img.down {
      margin-top: 2px;
    }
  }

  .picture {
    float: left;

    img {
      width: 70px;
      height: auto;
    }
  }

  .whats-this {
    position: absolute;
    right: 4px;
    bottom: 5px;
    font-size: x-small;
    color: #369;

    &:hover {
      cursor: help;
    }
  }

  .next, .prev {
    position: absolute;
    background-image: url('http://creesch.github.io/reddit-declutter/sprite-reddit.png');
    background-position: -48px -537px;
    border: 1px solid #B3B3B3;
    top: 5px;
    right: 5px;
    width: 21px;
    height: 21px;

    &:hover {
      cursor: pointer;
      border: 1px solid #336699;
    }
  }

  .prev {
    right: 31px;
    background-position: -68px -537px;
  }

  .whats-this-description {
    position: absolute;
    transition: 200ms;
    opacity: 0;
    visibility: hidden;
    border: 1px solid gray;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    padding: 8px 9px 8px 9px;
    width: 358px;
    right: -1px;
    bottom: -54px;
    font-size: x-small;
    color: #333;
    background-color: white;

    &:before {
      position: absolute;
      right: 7px;
      top: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid gray;
      content: "";
    }

    &:after {
      position: absolute;
      right: 7px;
      top: -9px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      content: "";
    }
  }
}
