
.backdrop {
  transition: 400ms;
  position: absolute;
  z-index: 100;
  opacity: .5;
  width: 100%;
  height: 100%;
  background: black;
}

.fade-out {
  opacity: 0;
}

.login-transition {
  top: 30px !important;
  opacity: 1 !important;
}

.login-modal {
  top: -100px;
  opacity: 0;
  transition: 200ms linear;
  position: absolute;
  display: flex;
  z-index: 200;
  left: 0;
  right: 0;
  margin: auto;
  padding: 60px;
  width: 730px;
  background-color: #f8fbfd;
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);

  .close {
    position: absolute;
    right: 9px;
    top: 5px;
  }

  .create {
    width: 50%;
    padding-right: 60px;
    border-right: 1px solid #e0e0e0;
  }

  .login {
    margin-left: 60px;
    width: 40%;

    .check.remember {
      float: right;
      padding-right: 0px;

      a {
        color: #369;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .title {
    font-size: larger;
    font-weight: bold;
    color: #4270a2;
    margin-bottom: 25px;
  }

  .form-control {
    margin-left: 1px;
    margin-bottom: 10px;
    box-shadow: inset 1px 1px 2px -1px rgba(0,0,0,0.15);
    font-family: '.HelveticaNeueDeskInterface-Regular';
    font-size: 14px;
  }

  input[type='checkbox'] {
    float: left;
    margin-top: 2px;
    font-size: 12px;
  }

  .check {
    margin-bottom: 10px;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 12px;
  }

  .btn-primary {
    float: right;
    margin-top: 25px;
    width: 75px;
    height: 30px;
    background-color: #4980ae;
    border-bottom: 2px solid #4270a2;
    font-family: '.HelveticaNeueDeskInterface-Regular';
    font-size: 12px;
    font-weight: bold;
  }
}
