.posts-index-item {
  min-height: 70px;
  margin-bottom: 15px;
  font-size: medium;

  img {
    float: left;
    margin-right: 5px;
    width: 70px;
    height: auto;
  }

  a {
    color: blue;
    &:hover {
      color: blue;
      text-decoration: none;
    }
  }

  .domain, .timeago {
    color: #888;
    font-size: x-small;
  }
}
