.posts {
  margin-left: 10px;
}

.posts-index-item {
  margin-top: 10px;
  font-size: medium;

  &:after {
    content: "";
    clear: both;
    display: block;
  }

  .rank {
    float: left;
    margin-top: 14px;
    margin-left: 8px;
    font-align: right;
    font-family: arial;
    color: #c6c6c6;
  }

  .votes {
    float: left;
    font-weight: bold;
    font-size: small;
    color: #c6c6c6;
    width: 50px;
    text-align: center;

    img {
      display: block;
      margin: auto;
    }
  }

  .post-content {
    display: flex;
  }

  .picture {
    float: left;
    margin-right: 5px;
    max-width: 70px;

    img {
      width: 70px;
    }
  }

  a.post-title {
    color: blue;
    margin-right: 8px;

    &:hover {
      color: blue;
      text-decoration: none;
    }
  }

  .domain a {
    display: inline-block;
    color: #888;
    font-size: x-small;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .timeago {
    color: #888;
    font-size: x-small;

    a {
      margin-right: 3px;
      color: #369;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .comments {
    color: #888;
    font-weight: bold;
    font-size: x-small;

    a {
      color: #888;
    }

    span {
      margin-left: 8px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
