#trending-subreddits {
  margin-top: 7px;
  margin-left: 76px;
  margin-bottom: -2px;
  color: #29541c;

  &:after {
    content: "";
    clear: both;
    display: block;
  }

  .graph {
    float: left;
    margin-right: 5px;
    height: 15px;
    width: 16px;
    background-image: url("https://www.redditstatic.com/sprite-reddit.VLn6vQIEOc8.png");
    background-position: -70px -839px;
  }

  .trending {
    float: left;

    .comments {
      margin-top: 2px;
      margin-left: 4px;
      color: #888;
      font-weight: bold;
      font-size: x-small;

      &:hover {
        text-decoration: underline;
      }
    }

    a {
      margin-right: 2px;
      color: #369;

      &:hover {
        text-decoration: none;
      }
    }

    a:first-child {
      margin-left: 6px;
    }
  }
}

.posts {
  float: left;
  margin-left: 10px;
}

.posts-index-item {
  margin-top: 10px;
  font-size: medium;

  .rank {
    float: left;
    margin-top: 14px;
    min-width: 26px;
    font-family: arial;
    text-align: right;
    color: #c6c6c6;
  }

  .votes {
    float: left;
    font-weight: bold;
    font-size: small;
    color: #c6c6c6;
    width: 50px;
    text-align: center;

    img {
      display: block;
      margin: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .picture {
    float: left;
    margin-right: 3px;

    img {
      width: 70px;
      height: auto;
    }
  }

  a.post-title {
    margin-right: 8px;
    color: blue;

    &:hover {
      color: blue;
      text-decoration: none;
    }
  }

  .domain a {
    color: #888;
    font-size: x-small;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .timeago {
    color: #888;
    font-size: x-small;

    a {
      margin-right: 5px;
      color: #369;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .comments {
    margin-top: 2px;
    color: #888;
    font-weight: bold;
    font-size: x-small;

    a {
      color: #888;
    }

    span {
      margin-left: 8px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &.sponsored {
    position: relative;
    margin-top: 7px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    background: #F8F8F8;
    border: 1px solid gray;
    min-height: 85px;

    .ranks {
      display: none;
    }

    .votes {
      margin-left: 3px;
    }

    &:hover:after {
      cursor: help;
    }
  }
}
