#sidebar {
  margin: 7px 6px 7px 5px;
  input {
    border: 1px solid gray;
  }

  form.search {
    position: relative;

    input {
      padding-left: 9px;
      height: 30px;
      width: 300px;
      font-size: 13px;
    }

    img {
      position: absolute;
      opacity: .85;
      top: 9px;
      right: 9px;
      width: 13px;
      height: auto;
    }
  }

  form.login {
    margin-top: 12px;
    padding: 5px;
    border: 1px solid gray;

    input.text-field {
      display: inline-block;
      padding: 6px;
      width: 141px;
      height: 27px;
      font-size: 11px;
      border: 1px solid #999;

      &:first-child {
        margin-right: 2px;
      }
    }

    input.checkbox {
      display: inline-block;
      margin: 11px 5px 6px 0px;
      font-size: 15px;
    }

    a {
      margin-left: 5px;
    }
  }
}
