#sidebar {
  float: right;
  width: 300px;
  margin: 0px 5px 0px 5px;

  input.text-field {
    border: 1px solid gray;
  }

  form.search {
    position: relative;

    input.text-field {
      padding-left: 9px;
      height: 30px;
      width: 300px;
      font-size: 13px;
    }

    img {
      opacity: .85;
      width: 13px;
      height: auto;

      &:hover {
        cursor: pointer;
      }
    }

    input.submit {
      position: absolute;
      top: 9px;
      right: 9px;
      width: 13px;
      height: 13px;
      border: none;
      background-color: white;
      background-size: 13px 13px !important; // why important??
      opacity: .85;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AA
                AAeFBMVEUAAACJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiY
                mJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiY
                mJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYl3r/6iAAAAJ3RSTlMAAQMFDhMUFhcYLC02N1
                FfYGlydXiDhIuRuru8vt3s7e7v8PH4+fpBQVyrAAAA1ElEQVR4AYXQcW+CMBBA8cPBuk
                7cpgiCiFUE3/f/hksuDbmakf3+uuSl5DhR8lH1AUJfeUnl7UQ0tbktnwPGsDXlTuKxtF
                zfjM3OubIZ9V0eUwvQv4sqOoA27jYB/ZtEmw6Yvc4VMBayKEag0rEHGjEa4KJTAHY2lU
                DQCcDZ5ACyf1IAytcPXv9eowbO68sfdfQz0G2SX356c6iusIc6peetS+fKegTgINH2wa
                v90ob1lrcz0fN0SJv46hLgej56kb1pUZaJiu1HUqbdZLXZZH3fb1+/i3YpBcVhtqwAAA
                AASUVORK5CYII='); // TODO: use reddit's sprite images
    }
  }

  form.login {
    margin-top: 12px;
    padding: 5px;
    border: 1px solid gray;

    input.text-field {
      display: inline-block;
      padding: 7px;
      width: 142px;
      height: 27px;
      font-size: 11px;
      border: 1px solid #999;

      &:first-child {
        padding: 6px;
        width: 141px;
        margin-right: 1px;
      }
    }

    input.checkbox {
      display: inline-block;
      margin: 11px 5px 5px 0px;
      font-size: 15px;
    }

    a {
      margin-left: 12px;
      color: #369;
      &:hover {
        text-decoration: none;
      }
    }

    button {
      float: right;
      margin-top: 3px;
      margin-right: -1px;
      width: 42px;
      height: 20px;
      font-size: 11px;
    }
  }

  .submit-pic-left {
    position: relative;
    margin-top: 11px;
    width: 300px;
    height: 31px;
    border: 1px solid #c4dbf1;
    background-position: 0px -278px;
    background-image: url('http://www.redditstatic.com/sprite-reddit.png');
    text-align: center;
    line-height: 30px;
    letter-spacing: -1px;
    font-size: 150%;
    font-weight: bold;
    color: #369;

    &:hover {
      cursor: pointer;
      // image color change
    }
  }

  .submit-pic-right {
    position: absolute;
    right: -1px;
    top: -2px;
    background-position: -61px -546px;
    background-color: white;
    background-image: url('http://www.redditstatic.com/sprite-reddit.png');
    width: 25px;
    height: 35px;
  }

  .ad {
    text-align: center;
    font-size: 13px;

    img {
      margin-top: 13px;
      margin-bottom: 5px;
    }

    a {
      color: #369;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .daily-gold-outer {
    margin-top: 23px;
    padding: 1px;
    width: 300px;
    border: 1px solid #c4b487;
    box-shadow: 0 0 10px #dad0b3 inset;
  }

  .daily-gold-inner {
    padding: 6px 8px 6px 8px;
    border: 1px solid #dbd1b5;
    width: 296px;
    height: 81px;
    color: #554a2a;
    text-align: center;
    font-family: "Bitstream Charter","Hoefler Text","Palatino Linotype",
                 "Book Antiqua",Palatino,georgia,garamond,FreeSerif,serif;
    font-size: 13px;
  }

  .gold-progress {
    margin-top: 8px;
    width: 100%;
    height: 26px;
    background-color: white;
  }

  .bar {
    position: relative;
    overflow: auto;
    height: 19px;
    border: 1px solid #dad0b3;
    border-radius: 10px;
    background-color: white;
    box-shadow: none;
  }

  .progress-bar {
    position: absolute;
    height: 18px;
    border-radius: 10px;
    box-shadow: none;
    background-image: linear-gradient(to bottom,#fff8ba 0%,#eccf90 100%);
  }

  .percentage {
    float: right;
    margin-left: 6px;
    color: #554a2a;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
  }

  .help-support {
    display: inline-block;
    padding: 4px;
    padding-top: 3px;
    font-size: x-small;
    background: #fbfaf8;
    border-radius: 3px;
    border: 1px solid #d5c9a9;
    border-bottom-width: 2px;
    color: #554a2a;

    &:hover {
      background: rgb(253, 244, 197);
    }
  }

  .gold-dropdown {
    transition: 200ms;
    opacity: 1;
    margin-top: 5px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    border: 1px solid #907c47;
    border-radius: 4px;
    padding: 10px 9px 10px 10px;
    font-family: "Hoefler Text","Palatino Linotype","Book Antiqua",Palatino,georgia,garamond,FreeSerif,serif;
    font-size: 125%;

    .gold-logo {
      display: inline-block;
      margin-right: 2px;
      vertical-align: bottom;
      width: 78px;
      height: 18px;
      background-position: -64px -22px;
      background-size: 142px;
      background-image: url('https://www.redditstatic.com/gold/reddit-gold-logo.png');
    }

    p {
      line-height: 14px;

      a {
        font-weight: bold;
        color: #825b25;
      }
    }

    p.padding {
      padding-top: 3px;
      padding-left: 74px;
    }

    .buy-gold {
      display: inline-block;
      margin-top: 3px;
      margin-left: 7px;
      float: left;
      width: 54px;
      height: 41px;
      background-size: 140px;
      background-image: url('https://www.redditstatic.com/gold/reddit-gold-logo.png');
    }
  }
}

.gold-dropdown:before, .gold-dropdown:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top: 0;
}

.gold-dropdown:before {
  top: -10px;
  left: 139px;
  border-bottom-color: #907c47;
  border-width: 10px;
}

.gold-dropdown:after {
  top: -9px;
  left: 140px;
  border-bottom-color: white;
  border-width: 9px;
}
