<div class="signin-or-login">
  <div class="close">&times;</div>

  <div class="create">
    <div class="title">CREATE A NEW ACCOUNT</div>

    <form>
      <input class="form-control" type="text" name="username" placeholder="choose a username">
      <input class="form-control" type="password" name="password" placeholder="password">
      <input class="form-control" type="password" name="verify" placeholder="verify password">
      <input class="form-control" type="text" name="email" placeholder="email (optional)">

      <input type="checkbox" name="remember">
      <div class="check">
         remember me
      </div>

      <input type="checkbox" name="mail">
      <div class="check">
        get the best of reddit emailed to you once a week.
        <a href="https://www.reddit.com/newsletter">learn more</a>
      </div>

      <input class="btn btn-primary" type="submit" value="SIGN UP">
    </form>
  </div>

  <div class="login">
    <div class="title">LOG IN</div>

    <form>
      <input class="form-control" type="text" name="username" placeholder="username">
      <input class="form-control" type="password" name="password" placeholder="password">

      <div class="check remember">
        <a href="#">reset password</a>
      </div>

      <input type="checkbox" name="remember">
      <div class="check">
         remember me
      </div>

      <input class="btn btn-primary" type="submit" value="LOG IN">
    </form>
  </div>
</div>

<div class="small">
  By signing up, you agree to our
  <a href="#">Terms</a>
  and that you have read our
  <a href="#">Privacy Policy</a> and
  <a href="#">Content Policy</a>.
</div>
