<p>
  <span class="gold-logo"></span>
  gives you extra features and helps keep our servers running.
  We believe the more reddit can be user-supported,
  the freer we will be to make reddit the best it can be.
</p>
