view more:

<% if (before) { %>
  <a href="<%= currentUrl %>count=25&after=<%= after %>">
    <div class="prev next">‹ prev</div></a>
    <div class="bar"></div>
<% } %>

<a href="<%= currentUrl %>count=25&after=<%= after %>">
  <div class="next">next ›</div></a>
or try a
<a href="/r/random">
  <div class="random-subreddit">random subreddit</div>
</a>
