<div class="footer-outer-box">
  <div class="footer-section">
    <ul>
      <h3>about</h3>
      <li><a href="#">blog</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">values</a></li>
      <li><a href="#">team</a></li>
      <li><a href="#">source code</a></li>
      <li><a href="#">advertise</a></li>
      <li><a href="#">jobs</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <ul>
      <h3>help</h3>
      <li><a href="#">blog</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">values</a></li>
      <li><a href="#">team</a></li>
      <li><a href="#">source code</a></li>
      <li><a href="#">advertise</a></li>
      <li><a href="#">jobs</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <ul>
      <h3>apps & tools</h3>
      <li><a href="#">blog</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">values</a></li>
      <li><a href="#">team</a></li>
      <li><a href="#">source code</a></li>
      <li><a href="#">advertise</a></li>
      <li><a href="#">jobs</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <ul>
      <h3><3</h3>
      <li><a href="#">blog</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">values</a></li>
      <li><a href="#">team</a></li>
      <li><a href="#">source code</a></li>
      <li><a href="#">advertise</a></li>
      <li><a href="#">jobs</a></li>
    </ul>
  </div>
</div>
