<div class="footer-outer-box">
  <div class="footer-section">
    <ul>
      <h3>about</h3>
      <li><a href="#">blog</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">values</a></li>
      <li><a href="#">team</a></li>
      <li><a href="#">source code</a></li>
      <li><a href="#">advertise</a></li>
      <li><a href="#">jobs</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <ul>
      <h3>help</h3>
      <li><a href="#">site rules</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">wiki</a></li>
      <li><a href="#">reddiquette</a></li>
      <li><a href="#">transparency</a></li>
      <li><a href="#">contact us</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <ul>
      <h3>apps & tools</h3>
      <li><a href="#">Alien Blue iOS app</a></li>
      <li><a href="#">reddit AMA app</a></li>
      <li><a href="#">mobile beta</a></li>
      <li><a href="#">buttons</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <ul>
      <h3><3</h3>
      <li><a href="#" class="reddit-gold">reddit gold</a></li>
      <li><a href="#">reddit store</a></li>
      <li><a href="#">redditgifts</a></li>
      <li><a href="#">reddit.tv</a></li>
    </ul>
  </div>
</div>

<div class="copyright">
  Use of this site constitutes acceptance of our
  <a href="https://www.reddit.com/help/useragreement">User Agreement</a>
  and
  <a href="https://www.reddit.com/help/privacypolicy">Privacy Policy</a>.
  © 2015 reddit inc. All rights reserved.
  REDDIT and the ALIEN Logo are registered trademarks of reddit inc.
</div>
<br><br><br>
