<img src="https://www.redditstatic.com/about/assets/reddit-logo.png">
<ul class="tabs">
  <% %w(hot new rising controversial top gilded wiki promoted).each do |tab| %>
    <li class="tab ">
      <a href="<%= tab %>"><%= tab %></a>
    </li>
  <% end %>
</ul>
