<!-- forms do not work -->

<form class="search" action="<%= subreddits_url(params[:subreddit] || 'front') %>" method="post">
  <%= auth_token %>

  <input type="text" class="text-field" name="q" placeholder="search">
  <input type="submit" class="submit" name="submit" value="">
</form>

<form class="login">
  <input type="text" class="text-field" placeholder="username">
  <input type="password" class="text-field" placeholder="password">

  <input type="checkbox" class="checkbox">remember me
  <a href="#">reset password</a>

<button type="submit">login</button>
</form>
