<!-- TODO: forms do not work -->

<% if params[:subreddit] == nil %>
  <% action = '/' %>
<% else %>
  <% action = subreddits_url(params[:subreddit]) %>
<% end %>

<form class="search" action="<%= action %>" method="post">
  <%= auth_token %>

  <input type="text" class="text-field" name="q" placeholder="search">
  <input type="submit" class="submit" name="submit" value="">
</form>

<form class="login">
  <input type="text" class="text-field" placeholder="username">
  <input type="password" class="text-field" placeholder="password">

  <input type="checkbox" class="checkbox">remember me
  <a href="#">reset password</a>

  <button type="submit">login</button>
</form>

<div class="submit-pic-left">
  <span>Submit a new link</span>
  <div class="submit-pic-right"></div>
</div>

<div class="submit-pic-left">
  <span>Submit a new text post</span>
  <div class="submit-pic-right"></div>
</div>

<div class="ad"></div>

<div class="gold-container">
  <div class="daily-gold-outer">
    <div class="daily-gold-inner">
      daily reddit gold goal

      <div class="gold-progress">
        <span class="percentage">
          <%= get_gold_progress %>
        </span>

        <div class="bar">
          <div class="progress-bar" style="width:<%= get_gold_progress %>;"></div>
        </div>
      </div>

      <a href="#">
        <div class="help-support">
          help support reddit
        </div></a>
    </div>
  </div>

  <div class="gold-dropdown">
    <p class="description">
      <span class="gold-logo"></span>
      gives you extra features and helps keep our servers running.
      We believe the more reddit can be user-supported,
      the freer we will be to make reddit the best it can be.
    </p>

    <span class="buy gold-option"></span>
    <p class="padding">
      Buy gold for yourself to gain access to
      <a href="#">extra features</a>
      and
      <a href="#">special benefits</a>.
      A month of gold pays for <strong>231.26 minutes</strong> of reddit server time!
    </p>

    <span class="give gold-option"></span>
    <p class="padding">
      Give gold to thank exemplary people and encourage them to post more.
    </p>

    <div class="update">
      This daily goal updates every 10 minutes and is reset at midnight
      <a href="#">Pacific Time</a>
      (33 minutes from now). <!-- TODO: make this dynammic -->
    </div>

    <div class="yesterday-gold">
      Yesterday's reddit gold goal

      <div class="gold-progress">
        <span class="percentage">
          111%
        </span>

        <div class="bar">
          <div class="progress-bar" style="width: 100%;"></div>
        </div>
      </div>

    </div>
  </div>
</div>
